<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

    <form action="" method="post">



        <div class="input_group_box">
            <label for="username">Username</label>
            <div class="input_group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
        </div>

        <div class="input_group_box">
            <label for="password">Password</label>
            <div class="input_group">
                <input type="text" id="password" name="password" placeholder="Password" required>
            </div>
        </div>


        <button id="login_submit" type="submit">Submit</button>
    </form>

    <p>{{message}}</p>

</body>
</html>