<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    <form action="" method="post">



        <div class="input_group_box">
            <label for="username">Username</label>
            <div class="input_group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
        </div>

        <div class="input_group_box">
            <label for="password">Password</label>
            <div class="input_group">
                <input type="text" id="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="email">Email</label>
            <div class="input_group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="phone">Phone</label>
            <div class="input_group">
                <input type="number" id="phone" name="phone" placeholder="Phone" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="address">Address</label>
            <div class="input_group">
                <input type="text" id="address" name="address" placeholder="Address" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="city">City</label>
            <div class="input_group">
                <input type="text" id="city" name="city" placeholder="City" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="state">State</label>
            <div class="input_group">
                <input type="text" id="state" name="state" placeholder="State" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="country">Country</label>
            <div class="input_group">
                <input type="text" id="country" name="country" placeholder="Country" required>
            </div>
        </div>
        <div class="input_group_box">
            <label for="postcode">Postcode</label>
            <div class="input_group">
                <input type="text" id="postcode" name="postcode" placeholder="Postcode" required>
            </div>
        </div>


        <button id="register_submit" type="submit">Submit</button>
    </form>

    <p>{{message}}</p>

</body>
</html>